CompileFlags:
  Add:
    - -IC:/APP/xpack-dev-tools/RISC-VEmbeddedGCC12/riscv-wch-elf/include
    - -D__GNUC__=12
  Remove:
    - -march=rv32imacxw
    - -msave-restore
    - -mabi=
    - -G
    - -fdiagnostics-color=always
